:root{
    --primary-color: #6994c9;
}

* {
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
button {
    background-color: var(--primary-color);
    color: #ffffff
}
.container{
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
}
header {
    height: 10%;
    display: flex;
}
main {
    height: 80%;
}
footer{
    height: 10%;
}
