
.arrow-svg {
    width: 6rem;
    height: 6rem;
}

.svg-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 100%;
    right: 0%;
}

.svg-section-text {
    display: flex;

}