.category-indicator {
  display: inline-block;
  width: var(--space-3);
  height: var(--space-3);
  border-radius: var(--border-radius-circle);
  background-color: var(--white-100);
  margin-right: var(--space-2);

  &[size="medium"] {
    width: var(--space-4);
    height: var(--space-4);
    margin-right: var(--space-3);
  }

  &[category="coding"] {
    background-color: var(--category-coding);
  }
  &[category="reading"] {
    background-color: var(--category-reading);
  }
  &[category="music"] {
    background-color: var(--category-music);
  }
  &[category="fitness"] {
    background-color: var(--category-fitness);
  }
  }