.category-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: var(--border-radius-circle);
  background-color: var(--white-100);
  margin-right: var(--space-2);
  flex-shrink: 0; 

  &[size="medium"] {
    width: 16px;
    height: 16px;
    margin-right: var(--space-3);
  }

  &[category="coding"] {
    background-color: var(--category-coding);
  }

  &[category="reading"] {
    background-color: var(--category-reading);
  }

  &[category="music"] {
    background-color: var(--category-music);
  }

  &[category="fitness"] {
    background-color: var(--category-fitness);
  }
}