.loader {
    border: var(--border-width-default) var(--border-style-default) var(--white-200); 
    border-top: var(--border-width-md) var(--border-style-default) var(--primary-color);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader-container{
    width: 100%;
    padding-block: var(--space-9);
    display: flex;
    align-items: center;
    justify-content: center;
  }