.projects-container {
  margin-top: var(--space-10);
  width: 100%;
  /* max-width: 60rem; */
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4);

  .card {
    &:hover {
      border-color: var(--border-color-active);
      box-shadow: var(--shadow-primary-sm);
    }
  }
}

@media (max-width: 1400px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
