.projects-container{
    margin-top: var(--space-10);
    width: 100%;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-2);
}



@media (max-width: 768px){
    .projects{
        grid-template-columns: 1fr;
    }
}


@media (min-width: 1200px){
    .projects{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

