table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 3px;
    min-width: max-content;
}

tr {
    height: 12px;
}

td {
    position: relative;
    height: 12px; /* doo not scale this */
    width: 12px;
    border-radius: calc(var(--border-radius-sm) + 1px);
    background-color: var(--black-300);

    &.dim {
        filter: brightness(0.9);
      }

    &[selected="true"]{
        filter: brightness(1.4);
    }

    &[data-activity-level="1"]{
        background-color: var(--activity-level-1);
    }
    &[data-activity-level="2"]{
        background-color: var(--activity-level-2);
    }
    &[data-activity-level="3"]{
        background-color: var(--activity-level-3);
    }
    &[data-activity-level="4"]{
        background-color: var(--activity-level-4);
    }
 
    span {
        position: absolute;
        bottom: -3px;
        right: 2px;
        font-size: var(--font-quote-1-size);
    }
}

td.activity-label {
    background-color: transparent;
    font-size: var(--font-quote-1-size);
}