/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin-block-start: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    text-align: center;
    background: none;
    appearance: none;
    text-align: inherit;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
}
