@import "_reset.css";
@import "./tokens/_primitives.css";
@import "./tokens/_semantics.css";
@import "./tokens/_typography.css";
@import "./utils.css";
@import "./components/index.css";
/* Declaring Design System Primitives */
:root {
    font-family: var(--font-family);
    color: var(--text-color-default);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: var( --text-title-1-size);
    font-weight: var(--text-title-1-weight);
    line-height: var(--text-title-1-line-height);
}

h2 {
    font-size: var( --text-title-2-size);
    font-weight: var(--text-title-2-weight);
    line-height: var(--text-title-2-line-height);
}

h3 {
    font-size: var( --text-title-3-size);
    font-weight: var(--text-title-3-weight);
    line-height: var(--text-title-3-line-height);
}

h4 {
    font-size: var( --text-title-4-size);
    font-weight: var(--text-title-4-weight);
    line-height: var(--text-title-4-line-height);
}
h5 {
    font-size: var(--text-subtitle-1-size);
    font-weight: var(--text-subtitle-1-weight);
    line-height: var(--text-subtitle-1-line-height);
}
h6{
    font-size: var(--text-subtitle-2-size);
    font-weight: var(--text-subtitle-2-weight);
    line-height: var(--text-subtitle-2-line-height);
}

p {
    font-size: var(--text-body-1-size);
    font-weight: var(--text-body-1-weight);
    line-height: var(--text-body-1-line-height);
}
p.body-2{
    font-size: var(--text-body-2-size);
    font-weight: var(--text-body-2-weight);
    line-height: var(--text-body-2-line-height);
}
p.quote{
    font-size: var(--text-quote-1-size);
    font-weight: var(--text-quote-1-weight);
    line-height: var(--text-quote-1-line-height);
}



body {
    background-color: var(--background-color-default);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: var(--background-color-surface);
    border: var(--border-width-default) var(--border-style-default) var(--border-color-default);
    padding: var(--space-7);

    .header-section {
        max-width: 80rem;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    @media (max-width: 768px) {
        .header-section {
            flex-direction: column;
        }
    }
}

main[hidden] {
    display: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-9);
    max-width: 60rem;
    width: 100%;

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 60rem;

        &> :where(p, h1, h2, h3, h4, h5) {
            text-align: center;
        }
    }
}

a {
    color: var(--text-color-primary);

    &:hover {
        color: var(--blue-300);
    }


}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-7);
    color: var(--text-muted-sm);
}



.heatmap-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heatmap-container {
    width: 100%;
    display: block;

    .heatmap-legend {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &>div {
            display: flex;
            place-items: center;
        }
    }
}

.heatmap {
    display: flex;
}


div[data-activity-level="0"],
div[data-activity-level="1"],
div[data-activity-level="2"],
div[data-activity-level="3"],
div[data-activity-level="4"]{
    border-radius: calc(var(--border-radius-sm) + 1px);
    height: var(--space-3);
    width: var(--space-3);
}
div[data-activity-level="0"] {
    background-color: var(--blue-800);
}

div[data-activity-level="1"] {
    background-color: var(--blue-100);
}

div[data-activity-level="2"] {
    background-color: var(--blue-200);
}

div[data-activity-level="3"] {
    background-color: var(--blue-300);
}

div[data-activity-level="4"] {
    background-color: var(--blue-400);
}

.button-stack {
    display: flex;
    flex-direction: column;
}

@media (max-width: var(--breakpoint-xl)) {
    .button-stack {
        display: none;
    }
}



.activity-overview {
    display: none;
    width: 100%;
    padding: var(--space-7);
    flex-direction: column;
}

.activity-header{
    display: flex;
    justify-content: space-between;
}


.activities {
    padding-inline: var(--space-4);
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.activity {
    padding: var(--space-5);
    background-color: var(--background-color-primary-surface);
    border-radius: var(--border-radius-xl);
    border-color: var(--border-color-default);
    border-style: var(--border-style-default);
    border-width: var(--border-width-default);
    border-radius: var(--border-radius-default);
    display: flex;
    align-items: center;
    gap: var(--space-3);
}
.activity-form{
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    align-items: center;

    select {
        width: fit-content;
    }
    textarea {
        width: 100%;
    }
}

.activity-legend {
    margin-top: var(--space-3);
    padding-top: var(--space-3);
    border: var(--card-border-width) var(--card-border-style) transparent;
    border-top-color: var(--border-color-light);
    display: flex;
    gap: var(--space-3);
}

.category-item {
    font-size: var(--font-size-50);
    text-transform: capitalize;
}

.category-item::before {
    content: "";
    display: inline-block;
    width: var(--space-2);
    height: var(--space-2);
    border-radius: var(--border-radius-circle);
    margin-right: var(--space-1);
}
.category-item[category="coding"]::before {
    background-color: blue;
}

.category-item[category="reading"]::before {
    background-color: red;
}

.category-item[category="music"]::before {
    background-color: orange;
}

.category-item[category="fitness"]::before {
    background-color: green;
}

.arrow-svg {
    width: 6rem;
    height: 6rem;
}

.svg-section {
    width: 100%;
    display: flex;
    margin-top: var(--space-9);
    justify-content: flex-end;
    position: relative;
}

.svg-section-text {
    display: flex;

}