@import "_reset.css";
@import "./tokens/_primitives.css";
@import "./tokens/_semantics.css";
@import "./tokens/_typography.css";
@import "./utils.css";
@import "./components/index.css";


:root {
    font-family: var(--font-family);
    color: var(--text-color-default);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1 {
    font-size: var(--text-title-1-size);
    font-weight: var(--text-title-1-weight);
    line-height: var(--text-title-1-line-height);
}

h2 {
    font-size: var(--text-title-2-size);
    font-weight: var(--text-title-2-weight);
    line-height: var(--text-title-2-line-height);
}

h3 {
    font-size: var(--text-title-3-size);
    font-weight: var(--text-title-3-weight);
    line-height: var(--text-title-3-line-height);
}

h4 {
    font-size: var(--text-title-4-size);
    font-weight: var(--text-title-4-weight);
    line-height: var(--text-title-4-line-height);
}

h5 {
    font-size: var(--text-subtitle-1-size);
    font-weight: var(--text-subtitle-1-weight);
    line-height: var(--text-subtitle-1-line-height);
}

h6 {
    font-size: var(--text-subtitle-2-size);
    font-weight: var(--text-subtitle-2-weight);
    line-height: var(--text-subtitle-2-line-height);
}

p {
    font-size: var(--text-body-1-size);
    font-weight: var(--text-body-1-weight);
    line-height: var(--text-body-1-line-height);
}

p.body-2 {
    font-size: var(--text-body-2-size);
    font-weight: var(--text-body-2-weight);
    line-height: var(--text-body-2-line-height);
    color: var(--text-color-muted-sm);
}

p.quote {
    font-size: var(--text-quote-1-size);
    font-weight: var(--text-quote-1-weight);
    line-height: var(--text-quote-1-line-height);
}



body {
    background-color: var(--background-color-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    width: 100%;
    background-color: var(--background-color-surface);
    border: var(--border-width-default) var(--border-style-default) var(--border-color-default);
    padding-block: var(--space-4);
    padding-inline: var(--space-6);
    border-top: none;

}

.header-section-desktop {
    max-width: 80rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header-section-mobile {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);

    nav {
        display: flex;
        flex-direction: column;
        gap: var(--space-1);
    }
}

#hamburger {
    display: none;
}

main[hidden] {
    display: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-9);
    width: 100%;
    overflow-x: hidden;

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 60rem;

        &> :where(p, h1, h2, h3, h4, h5) {
            text-align: center;
        }
    }
}

a {
    color: var(--text-color-primary);

    &:hover {
        color: var(--blue-300);
    }


}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-7);
    color: var(--text-muted-sm);
}


.button-stack {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

@media (max-width: 1010px) {
    .button-stack {
        display: none;
    }
}

@media (max-width: 768px) {
    #hamburger {
        display: flex;
        position: relative;
    }

    .header-section-desktop {
        display: none;
    }

    .mobile-menu {
        position: absolute;
    }

}

@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 12px;
    }
}

@media (min-width: 992px) {}

.main-wrapper {
    position: relative;
    margin-top: var(--space-13);
    width: 100%;
    max-width: 60rem;
    display: flex;
    justify-content: center;
}


.video-section {
    height: 70vh;
    width: 100%;
    position: relative;
}

.video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
}

iframe {
    width: 420px;
    height: 350px;
}

.overlay {
    position: absolute;
    padding: var(--space-8);
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bio-section {
    margin-bottom: var(--space-12);
}

.bio-content-container {}

.bio-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-7);
}

.media-container {
    border: var(--border-width-default) var(--border-style-default) var(--border-color-hover);
    border-radius: var(--border-radius-xl);
}

.youtube-video-section {
    margin-bottom: var(--space-12);
}

.youtube-video-container {
    display: flex;
    justify-content: center;
    gap: var(--space-7);
}

.carousel-section {}

.carousel {
    width: 100vw;
    height: 300px;
    padding: var(--space-7);
    display: flex;
    flex-direction: row;
    gap: 4vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    anchor-name: --guitar-carousel;
    scroll-marker-group: after;
}

.carousel::scroll-marker-group {
    position: absolute;
    position-anchor: --guitar-carousel;
    top: calc(anchor(bottom) - 70px);
    justify-self: anchor-center;
  
    display: flex;
    justify-content: center;
    gap: 20px;
  }

.carousel::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: black;
    opacity: 0.7;
    cursor: pointer;

    position: absolute;
    position-anchor: --guitar-carousel;
    

  }
  
  .carousel::scroll-button(*):hover,
  .carousel::scroll-button(*):focus {
    opacity: 1;
  }
  
  .carousel::scroll-button(*):active {
    translate: 1px 1px;
  }
  
  .carousel::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
  }
  .carousel::scroll-button(left) {
    right: calc(anchor(left) - 70px);
    bottom: calc(anchor(top) + 13px);
    content: "◄";
  }
  
  .carousel::scroll-button(right) {
    left: calc(anchor(right) - 70px);
    bottom: calc(anchor(top) + 13px);
    content: "►";
  }

.carousel-item{
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.carousel-item::scroll-marker {
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
  }

  .carousel-item::scroll-marker:target-current{
    background-color: black;
  }

.media-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-xl);
}