@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --blue-100: #e4edff;
    --blue-200: #c7d8ff;
    --blue-300: #a9c3ff;
    --blue-400: #7fa8ff;
    --blue-500: #4a90ff;  /* primary */
    --blue-600: #3574e5;
    --blue-700: #295bbf;
    --blue-800: #204399;
    --blue-900: #1b2b59;

    /* ===== Neutral (Black / Gray) ===== */
    --black-100: #52555a;
    --black-200: #3a3c40;
    --black-300: #2e2f32;
    --black-400: #252526;  /* surface */
    --black-500: #1e1e1e;  /* background */
    --black-600: #18191b;
    --black-700: #121315;
    --black-800: #0c0c0d;
    --black-900: #070708;


    --white-100: #ffffff;
    --white-200: #e9e9e9;
    --white-300: #d2d2d2;
    --white-400: #bcbcbc;
    --white-500: #a5a5a5;
    --white-700: #8f8f8f;
    --white-800: #787878;

    --space-0: 0rem;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 1.75rem;
    --space-8: 2rem;
    --space-9: 2.5rem;
    --space-10: 3rem;
    --space-11: 4rem;
    --space-12: 5rem;
    --space-13: 6rem;

    --opacity-1: 0.1;
    --opacity-2: 0.2;
    --opacity-3: 0.3;
    --opacity-4: 0.4;
    --opacity-5: 0.5;
    --opacity-6: 0.6;
    --opacity-7: 0.7;
    --opacity-8: 0.8;
    --opacity-9: 1;

    --breakpoint-sm: 567px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 3rem;
    --font-size-4xl: 4rem;
    --font-size-5xl: 5rem;
    --font-size-6xl: 6rem;

    --font-weight-50: 50;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    --line-height-sm: 1.1;
    --line-height-md: 1.5;
    --line-height-lg: 1.8;

    --border-radius-sm: 1px;
    --border-radius-md: 4px;
    --border-radius-lg: 8px;
    --border-radius-xl: 14px;
    --border-radius-xll: 32px;
    --border-radius-circle: 9999px;

    --border-width-sm: 1px;
    --border-width-md: 2px;
    --border-width-lg: 4px;


    --shadow-sm: 2px 3px 6px 3px color-mix(in srgb, #000000 10%, transparent);
    --shadow-md: 0px 0px 50.4px color-mix(in srgb, var(--blue-500) 20%, transparent);
    --shadow-lg: 6.2px 12.3px 12.3px color-mix(in srgb, var(--blue-500) 30%, transparent);

    --primary-gradient: linear-gradient(90deg, #4fc3f7 0%, #64b5f6 50%, #42a5f5 100%);
    --surface-gradient: linear-gradient(to bottom right, rgba(41, 56, 89, 0.3), rgba(28, 27, 38, 0.3));

}