@import "_primitives.css";

:root {
    --primary-color: var(--blue-500);

    --background-color-default: var(--black-500);
    --background-color-surface: var(--black-400);
    --background-color-hover: var(--black-300);
    --background-color-active: var(--black-200);
    --background-color-primary: var(--primary-color);
    --background-color-primary-surface: var(--blue-900);
    --background-color-primary-hover: var(--blue-800);
    --background-color-primary-active: var(--blue-700);

    --text-color-default: var(--white-200);
    --text-color-primary: var(--primary-color);
    --text-color-muted-sm: var(--white-300);
    --text-color-muted-md: var(--white-400);
    --text-color-muted-lg: var(--white-500);
    --text-color-primary-gradient: var(--primary-gradient);

   --border-color-default: var(--black-300);
   --border-color-primary: var(--blue-500);
   --border-color-active: color-mix(in srgb, var(--blue-500) 30%, transparent);
   --border-color-hover: color-mix(in srgb, var(--blue-500) 50%, transparent);
   
   --border-width-default: var(--border-width-sm);
   --border-style-default: solid;

   --border-radius-default: var(--border-radius-lg);
   --border-radius-lg: var(--border-radius-xll);
   --border-radius-circle: var(--border-radius-circle);

   --icon-color-default: var(--white-200);
   --icon-color-primary: var(--primary-color);


    --shadow-primary-default: var(--shadow-md);

    --gradient-primary: linear-gradient(90deg, #4fc3f7 0%, #64b5f6 50%, #42a5f5 100%);
    --gradient-surface: linear-gradient(to bottom right, rgba(41, 56, 89, 0.3), rgba(28, 27, 38, 0.3));


}