@import "_primitives.css";

:root {
    --font-family: "Raleway", system-ui, sans-serif;

    --primary-color: var(--blue-500);

    --background-color-default: var(--black-500);
    --background-color-surface: var(--black-400);
    --background-color-hover: var(--black-300);
    --background-color-active: var(--black-200);
    --background-color-primary: var(--primary-color);
    --background-color-primary-surface: var(--blue-900);
    --background-color-primary-hover: var(--blue-800);
    --background-color-primary-active: var(--blue-700);

    --text-color-default: var(--white-200);
    --text-color-primary: var(--blue-500);
    --text-color-muted-sm: var(--white-300);
    --text-color-muted-md: var(--white-400);
    --text-color-muted-lg: var(--white-500);
    --text-color-primary-gradient: var(--primary-gradient);

   --font-size-default: var(--font-size-md);
   --font-weight-regular: var(--font-weight-400);
   --font-weight-bold: var(--font-weight-700);

   --line-height-default: var(--line-height-md);
   --line-height-headers: var(--line-height-sm);

   --border-color-default: var(--white-500);
   --border-color-active: color-mix(in srgb, var(--blue-500) 30%, transparent);
   --border-color-hover: color-mix(in srgb, var(--blue-500) 50%, transparent);
   --border-width-default: var(--border-width-sm);
   --border-style-default: solid;


}